parameters:
	level: max
	reportUnmatchedIgnoredErrors: false
	paths:
		- src
		- tests
		- lib
	excludePaths:
		- tests/php-src
	ignoreErrors:
		-
			identifier: expr.resultUnused
			path: tests/BCMathWithoutExtensionTest.php
