includes:
	- phpstan-baseline.neon

parameters:
	level: 5
	paths:
		- src
		- tests
		- lib
	ignoreErrors:
		-
			message: '#^Static method bcmath_compat\\BCMath::[a-zA-Z_]+\(\) is unused\.$#'
			identifier: method.unused
